/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'wereading';  /* Project id 4634895 */
  src: url('https://at.alicdn.com/t/c/font_4634895_oa2z7edmc3.woff2?t=1722051148384') format('woff2'),
  url('https://at.alicdn.com/t/c/font_4634895_oa2z7edmc3.woff?t=1722051148384') format('woff'),
  url('https://at.alicdn.com/t/c/font_4634895_oa2z7edmc3.ttf?t=1722051148384') format('truetype');
}

[class^='icon-'],
[class*=' icon-'] {
  font-family: 'wereading', sans-serif !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: '\e627';
}

.icon-right:before {
  content: '\e642';
}